@import url(https://lsong.org/stylesheets/grid.css);
@import url(https://lsong.org/stylesheets/form.css);
@import url(https://lsong.org/stylesheets/button.css);

body {
  background-color: #f7f7f7;
}   

.container {
  text-align: center;
}

.initial {
  padding-top: 100px;
}

.logo {
  width: 150px;
  height: 150px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#searchbox {
  width: 640px !important;
  font-family: monospace;
  font-size: 16px !important;
  padding: 14px !important;
  border-radius: 5px !important;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
  background-color: #fff;
}

.result h1.title {
  display: none;
}

.result .logo {
  width: 36px;
  height: 36px;
  margin-top: 5px;
  margin-left: -100px;
}

.result form {
  flex-direction: row;
}

.search-result {
  text-align: left;
}

.search-result-total {
  color: #666;
}

.search-result-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-result-item {
  width: 580px; 
  margin: 5px -10px;
  box-sizing: content-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.search-result-item:hover {
  border: 1px solid #ccc;
}

.search-result-item a {
  text-decoration: none;
}

.search-result-item a:hover {
  text-decoration: underline;
}

.search-result-item h2 {
  font-size: 18px;
}

.search-result-item p {
  color: #494949;
}

.search-result-item h2,
.search-result-item p {
  margin: 3px 0;
}

.search-result-item-link {
  color: #20692b;
}